<script>
import { mapState, mapActions, mapMutations } from 'vuex';

export default {
  computed: {
    ...mapState(['guesser']),
  },

  methods: {
    ...mapActions(['getDeck', 'setNextGuess', 'drawCard']),
  },
};
</script>

<template>
  <h1>The great guesser game!</h1>

  <button @click="getDeck" id="newDeckBtn">Get a new Deck</button>

  <div v-if="guesser.deckId">

      <div id="buttons">
        <button @click="setNextGuess('red')" id="redBtn">Guess Red</button>
        
        <button @click="setNextGuess('black')" id="blackBtn">Guess Black</button>
      </div>
    <button v-if="guesser.nextGuess" @click="drawCard" id="drawCardBtn">Draw a card</button>
  
    <h1>Guesses: {{ guesser.guesses }}</h1>
    <h1>Points: {{ guesser.points }}</h1>
    <h2>Your next guess is: {{ guesser.nextGuess }}</h2>

    <div v-for="(card, index) in guesser.cards" :key="index">
      {{ card.value }} of {{ card.symbol }}
      <img :src="card.image" :alt="card.value" />
    </div>
  </div>
  <div v-else>Please draw a new deck!</div>
</template>

<style>
img {
  width: 100px;
}
#newDeckBtn{
 -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  border: none;
  font-family: Arial;
  color: #ffffff;
  font-size: 20px;
  background: #4cc781;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

#newDeckBtn:hover {
  background: #78d69f;
  text-decoration: none;
}
#redBtn{
 -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  border: none;
  font-family: Arial;
  color: #ffffff;
  font-size: 20px;
  background: #d93434;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

#redBtn:hover {
  background: #c24848;
  text-decoration: none;
}

#blackBtn{
 -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  border: none;
  font-family: Arial;
  color: #ffffff;
  font-size: 20px;
  background:#000000;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

#blackBtn:hover {
  background: #c24848;
  text-decoration: none;
}
#buttons{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-content: space-around;
  margin: 3rem;
}
#drawCardBtn{
 -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  border: none;
  text-decoration: none;
  font-family: Arial;
  color: #ffffff;
  font-size: 20px;
  background:#e8aa3f;
  padding: 10px 20px 10px 20px;
  
}

#drawCardBtn:hover {
  background: #f0c278;
  text-decoration: none;
}
</style>
