<template>
<h1>Semester Game</h1>
<p> by Lena Zyadeh BCC</p>

<p>The highest card wins!</p>

<div v-if="!gameOver" id="game">
    <div id="playerOne">
        <h4>Player One</h4>
        <h4>Score: {{playerOneScore}} </h4>
        <div class="card"><img :src="cardOne?.images?.png"/></div>
    </div>

    <div id="playerTwo">
        <h4>Player Two</h4>
        <h4>Score: {{playerTwoScore}} </h4>
        <div class="card"><img :src="cardTwo?.images?.png"/></div>
    </div>

    <div id="scoreboard">
        <button @click="getCards()">Draw Cards</button>
    </div>
</div>

<div v-if="gameOver">
    <button @click="getDeck()">Play Game</button>
</div>

</template>

<script>
import {ref} from "vue";
import axios from "axios";

//define the rest of the deckcards with their given value
function translateCards(value){
    switch(value){
        case "JACK": value = 11;
        break;

        case "QUEEN": value = 12;
        break;

        case "KING": value = 13;
        break;

        case "ACE": value = 14;
        break;

        default: break;
    }

    return value;
}

export default {
     name: "Home",
     setup(){
        let gameOver = ref(true), 
            cardOne = ref({}),
            cardTwo = ref({}),
            deckId = ref(null),
            playerOneScore = ref(0),
            playerTwoScore = ref(0);

         /* console.log(playerOneScore,playerTwoScore); */
        async function getDeck(){
            gameOver.value = false;
            if (deckId.value == null ){
                //generate new deck of cards with this api
                const { data } = await axios.get("https://deckofcardsapi.com/api/deck/new/shuffle/?deck_count=1");

            deckId.value = data.deck_id;
            console.log(data);
            }
        }
        async function getCards(){
            //get the cards and return two cards
            const { data } = await axios.get("https://deckofcardsapi.com/api/deck/" + deckId.value + "/draw/?count=2");
            const remaining = data.remaining;
           
           //destructure the cards
            const {cards} = data;
            cardOne.value = cards[0];
            cardTwo.value = cards[1];

           //translate & get the values of the cards for scoring 
           const valueOne = parseInt(translateCards(cardOne.value.value));
           const valueTwo = parseInt(translateCards(cardTwo.value.value));

           //calculate the scores
           if (valueOne > valueTwo) playerOneScore.value +=1;
           if (valueTwo > valueOne) playerTwoScore.value +=1;
           if (remaining === 0) { 
               gameOver.value = true
               playerOneScore.value = 0;
               playerTwoScore.value = 0;
               };
        }
        /* getDeck(); */
        return { getDeck, getCards, cardOne, cardTwo, playerOneScore, playerTwoScore, gameOver };
     },

     
     
};
</script>





<style>

button{
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 10px;
  border: none;
  font-family: Arial;
  color: #ffffff;
  font-size: 20px;
  background: #4cc781;
  padding: 10px 20px 10px 20px;
  margin-top: 30px;
  margin-bottom: 30px;
  text-decoration: none;
  cursor: pointer;
}

button:hover{
    background: #43b173;
}

.playerOne{
    background: #4c85c7;
}

.playerTwo{
    background: #c7bf4c;
}

</style>

