<script>
export default {
  data() {
    return {
      list: [],
    };
  },

    async mounted(){
      const localData = localStorage.getItem('pokemon')

        if(localData){
          console.log('from Storage');
          return this.list = JSON.parse(localData)
        }


    const url = 'https://pokeapi.co/api/v2/pokemon?limit=151';

      const data = await fetch(url);
      const pokemon = await data.json();

      localStorage.setItem('pokemon', JSON.stringify(pokemon.results)) //stringify for setting the data 

      console.log("from fetch")
      this.list = pokemon.results;
    }

};
</script>

<template>
  <div>
    <h1>Pokedex</h1>


    <div v-for="(item, index) in list" :key="index">
      <div>
        <img 
          :src="`https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/${
            index + 1
          }.png`"
          alt=""
        />
        <h2>{{ item.name }}</h2>
      </div>
    </div>
  </div>
</template>
